.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  position: relative; /* To position the close icon inside the modal */
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 1000px;
  max-height: 80vh; /* Set a max height for the modal */
  overflow-y: auto; /* Enable vertical scrolling */
  overflow-x: hidden; /* Prevent horizontal scrolling */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h2 {
  text-align: center;
  margin-bottom: 1rem;
}

.close-icon {
  position: absolute;  /* Positioning it absolutely inside the modal */
  top: 10px;  /* Distance from the top of the modal */
  right: 10px; /* Distance from the right of the modal */
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  color: #dc3545; /* Red color */
}

.close-icon:hover {
  color: #c82333; /* Darker red color on hover */
}

.form-group {
  margin-bottom: 1rem;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.option-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.option-group input,
.option-group select {
  width: 48%;
}

.modal-actions {
  display: flex;
  justify-content: space-between;
}

.save-button,
.close-button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.save-button {
  background-color: #28a745;
  color: white;
}

.close-button {
  background-color: #dc3545;
  color: white;
}

.save-button:hover {
  background-color: #218838;
}

.close-button:hover {
  background-color: #c82333;
}
